.place__website{
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0 0 48px 0;
    max-width: 456px;
    align-self: flex-end;
}
.place__website:hover {
    opacity: 0.8;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .place__website{
        align-self: flex-start;
        margin-bottom: 32px;
        margin-left: 16px;
    }
}
